@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

.max-w-p {
  max-width: 1280px;
}

.section {
  display: flex;
  justify-content: center;
}

@theme {
  --color-purple-main: #7c3aed;
  --color-purple-sec: #b188f0;
  --color-border-main: #bdc2c98f;
}

@keyframes shine {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.animate-shine {
  background-image: linear-gradient(
    110deg,
    rgba(46, 16, 101, 0.8) 50%,
    rgba(124, 58, 237, 0.8) 55%,
    rgba(46, 16, 101, 0.8) 60%
  );
  background-size: 400% 400%;
  animation: shine 6s linear infinite;
}

.bg-real-world-gradient {
  background-image: radial-gradient(113.28% 100% at 50% 0%, #000, #0000 69.79%),
    linear-gradient(180deg, #000, #5b21b6 100%, #7c3aed, #a78bfa);
}
